*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
h1{
	text-align: center;
	margin: 15px 0;
font-family: 'Lora', serif;
}
h2,h3,h4,h5,h6{
	font-family: 'Roboto Slab', serif;
	text-align: center;
} 
h3{
	margin:40px auto;
	color: #222;
	font-size: 30px;
}
.banner{
	text-align: center;

}
body{
	background: url("bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
nav{
text-align: center;

}

nav a{
	text-decoration: none;
	color:#777;
	/*background: gold;*/
	line-height: 30px;
	display: inline-block;
	padding:0 15px;
	border-radius: 15px;
font-family: 'Roboto Slab', serif;
transition: .3s;
margin-bottom: 15px;
}
nav a:hover{
	background: rgba(255,255,255,0.5 );
	color:#222;
}
p{
	font-family: 'Roboto', sans-serif;
}
.banner{
	background: url("meadow.jpg");
	overflow: hidden;
	background-size: cover;
}
.banner h2{
	font-size: 40px;
	margin: 40px auto;
	width: 70%;
	/*transform: translateY(200px);*/
}
.banner p{
	margin: 40px auto ;
	width: 70%;
	background: rgba(255,255,255,0.8);
	padding: 15px;
	box-sizing: border-box;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.banner a{
	background: rgba(255,255,255,0.8);
	color:#222;
	border-radius: 7px;
	line-height: 40px;
	display: inline-block;
	margin-bottom: 40px;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	padding: 10px;
	transition: .3s;
	font-size: 25px;
}
.banner a:hover{
	background: white;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}
.aboutUs{
text-align: center;
}
.info{
	display: inline-block;
	width: 45%;
	text-align: left;
	margin-right:10px;
	vertical-align: top;
}
.aboutUs img{
	width: 45%;
	height: 350px;
	object-fit: cover;
	object-position: center 80%;
}
.info h4{
	margin-bottom: 10px;
	color:#222;
}
.info p{
	margin-bottom: 10px;
	color:#444;
}
.stores{
	text-align: center;
}
.store{
	background: white;
	display: inline-block;
   width: 30%;
   margin: 15px;
   border-radius: 3px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.3);
   padding:0px;
   text-align: center;
   /*padding-top: 0;*/
   padding-bottom: 30px;
   overflow: hidden;
}
.store a{
	color:#222;
	display: inline-block;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	transition: .3s;
	margin-top: 15px;
	border-radius: 8px;
	padding: 7px 15px;
	color: #222;
	background: rgba(255,255,255,1);
}
.store a:hover{
	background: gold;

}
.store h5{
	margin-bottom: 20px;
	color: white;
	background: rgba(0,0,0,0.5);
	margin-top: 0;
   line-height: 40px;
   font-size: 20px;
}
ul{
	list-style-type: none;
	background: rgba(255,255,255,0.8);

}
.store li{
	font-family: 'Roboto', serif;
	line-height: 30px;
}
#store1{
background: url("тк цвет.jpg");
background-size: 400px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
#store2{
background: url("тк свет.jpg");
background-size: 400px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
#store3{
background: url("тк солнце.jpg");
background-size: 400px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.teamContainer{
	text-align: center;
}
.team{
	background: white;
	display: inline-block;
   width: 25%;
   margin: 15px;
   border-radius: 3px;
   box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
   padding: 0 30px;
   text-align: center;
}


.PTeam{
	margin-top: 10px;
}

.team img{
	border-radius: 100px;
 box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
 margin: 10px auto;
 width: 100%;
 height: 200px;
 object-fit: cover;
 /*display: block;*/
}
.yellowButton{
	color:#333;
	line-height: 40px;
	
	padding:0 15px;
	border-radius: 20px;
   
   background: #eee;
font-family: 'Roboto', serif;
}
.team a {
	text-decoration: none;
	margin: 10px 0;
	display: inline-block;
}
.yellowButton:hover{
	background: gold;
}
.team h5,h6{
	margin-top: 10px;
	font-size: 15px;
}
.flowers img{
	width: 30%;
	margin: auto;
	display: inline-block;
	height: 300px;
	margin: 15px;
	box-shadow:  10px 10px 10px rgba(0,0,0,0.7);
	object-fit: cover;
}
.flowers{
	text-align: center;
}
form{
	background: white;
	width: 30%;
	margin: 20px auto 100px;
	overflow: hidden;

}
form input,textarea{
	display: block;
	margin: 15px auto;
	resize: none;
	width: 90%;
	border:1px solid #aaa;
	border-radius: 3px;
	padding: 0 5px;
	line-height: 30px; 
	font-family: 'Roboto', serif;
	outline: none;
}
button{
	margin: auto;
	display: block;
	padding: 5px 10px;
	margin-bottom: 10px;
	border: none;
}
button:hover{
	/*width: 125px;
	line-height: 45px;*/
	transform: scale(1.1);
}
.feedback p {

	text-align: center;
	padding: 0 10px;
}
@media (max-width: 600px){
	h2{
		font-size: 30px !important;
		/*background: pink;*/
	}
	.banner p{
		width: 90%;
		}
		.aboutUs img{
			width: 100%;
			margin-bottom: 10px;
		}
		.aboutUs h4{
			margin-bottom: 20px;
		}
		.aboutUs p{
			margin-bottom: 30px;
		}
		.info {
			width: 90%;
		}
		.store {
			display: block;
			margin: auto;
			margin-bottom: 30px;
			width: 90%;
		}
		.team {
			width: 80%;
            margin: auto;
            margin-bottom: 30px;
		}
		.flowers img{
			width: 45%;
			margin:0;
			height: 200px;
			margin: 5px;

		}
		form{
			width: 90%;
		}
		}